/*vars*/
$blue-blue :#445162;
$white: #ffffff;
$smoky-white: #f5f5f5;
$light-grey: #ebebeb;
$font-arial: "Arial", "Helvetica", "sans-serif";

@import "../_misc/normalize.scss";
@import "../_misc/adjustment.scss";



@import "../section/header.scss";
@import "../section/about_product.scss";
@import "../section/dignity_product.scss";
@import "../section/scrinshots.scss";
@import "../section/reviews.scss";
@import "../section/buy.scss";
@import "../section/footer.scss";