.dignity-pluses {
	background-color: $smoky-white;
}

.dignity-pluses__title {
	text-align: center;
	padding-top: 45px;
}

.dignity-pluses__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	color: #333333;
	font-family: $font-arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 50px;
}

.dignity-pluses__list li {
	width: 567px;
	padding-left: 41px;
   	background: url("../../images/plus_icon.gif") no-repeat left 5px;
    box-sizing: border-box;
    text-align: justify;
    margin-top: 32px;
}

